ASoft.Ext/Configuration/ASoftConfig.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:ASoft.Configuration" elementFormDefault="qualified" targetNamespace="urn:ASoft.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="asoftConfig" type="tns:ASoft.Configuration.ASoftConfigCT" />
	<xs:complexType name="ASoft.Configuration.ASoftConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="eventQueue" type="tns:ASoft.Configuration.MessageQueueConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The EventQueue.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="commandQueue" type="tns:ASoft.Configuration.MessageQueueConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The CommandQueue.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="services" type="tns:ASoft.Configuration.ServiceElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Services.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ASoft.Configuration.MessageQueueConfigurationElementCT">
		<xs:attribute name="connectionUri" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ConnectionUri.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="exchangeName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ExchangeName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="queueName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The QueueName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ASoft.Configuration.ServiceElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="service" type="tns:ASoft.Configuration.ServiceElementCT">
				<xs:annotation>
					<xs:documentation>The ServiceElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ASoft.Configuration.ServiceElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="settings" type="tns:ASoft.Configuration.SettingElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Settings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="localCommandQueue" type="tns:ASoft.Configuration.MessageQueueConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The LocalCommandQueue.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="localEventQueue" type="tns:ASoft.Configuration.MessageQueueConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The LocalEventQueue.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ASoft.Configuration.SettingElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="settingElement" type="tns:ASoft.Configuration.SettingElementCT">
				<xs:annotation>
					<xs:documentation>The SettingElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ASoft.Configuration.SettingElementCT">
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
